:root {
    --azul: #acbdba;
    --cinza: #cddddd;
    --laranja: #f26430;
    --grafite:  #2e2f2f;
    --preto: #051014;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: linear-gradient(rgba(5,16,20,0.5), rgba(45,47,47,0.5));
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    display: flex;
    height: 90vh;
}

main {
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

header {
    font-family: 'Orbitron', sans-serif;
    color: var(--azul);
    width: 100%
}

h1 {
    color: var(--laranja);
}

p {
    font-family: 'Open Sans', sans-serif;
    color: var(--cinza);
    text-align: justify;
}

nav {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

nav img {
    height: 15%;
    border-radius: 50%;
}