:root {
    --azul: #acbdba;
    --cinza: #cddddd;
    --laranja: #f26430;
    --grafite:  #2e2f2f;
    --preto: #051014;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0,0,0,.70),rgba(0, 0, 0, 0.70)),url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: 10%;
    width: auto;
    height: 100%;
}

main {
    width: 70%;
    margin: 5%;
}

header {
    font-family: 'Orbitron', sans-serif;
    color: var(--azul);
}

h1 {
    color: var(--laranja);
}

p {
    font-family: 'Open Sans', sans-serif;
    color: var(--cinza);
    text-align: justify;
    font-size: 16px;
    margin-top: 10px;
}

nav {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 5% 5% 5% 2%;
    font-family: 'Open Sans', sans-serif;
    border-left: 3px solid var(--laranja);
}

nav img {
    width: 100px;
    border-radius: 50%;
}

.title {
    font-family: 'Orbitron', sans-serif;
    color: var(--azul);
    margin: 10px 0;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

button {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(46, 47, 47, 0.5);
    color: var(--cinza);
    font-size: 14px;
    border-width: 0;
    padding: 5px 15px;
    border-image: none;
    border-radius: 5%;
    transition: .2s ease all;
    margin-bottom: 10px;
}

button:hover {
    background-color:var(--azul);
    color: var(--laranja);
    font-weight: bold;
}
